{
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": [
        "*.json",
        "*.yaml",
        "*.yml"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
