name: Node.js Test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      vault:
        image: vault
    steps:
      - uses: actions/checkout@v2
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v1
        with:
          node-version: "10.x"
          registry-url: "https://npm.pkg.github.com"
          # Defaults to the user or organization that owns the workflow file
          scope: "@mittwald"
      - run: 'curl -H ''X-Vault-Token: test'' -X POST -d ''{"type":"transit"}'' http://vault:8200/v1/sys/mounts/transit'
      - run: 'curl -H ''X-Vault-Token: test'' -X POST -d ''{"type":"totp"}'' http://vault:8200/v1/sys/mounts/totp'
      - run: 'curl -H ''X-Vault-Token: test'' -X POST -d ''{"type":"kv","version":1}'' http://vault:8200/v1/sys/mounts/kv'
      - run: yarn
      - run: yarn test:ci
        env:
          VAULT_ADDR: "http://vault:8200"
          VAULT_TOKEN: "test"
          VAULT_DEV_ROOT_TOKEN_ID: "test"
